<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power Trainer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/index.css" type="text/css" rel="stylesheet">
    <link href="static/css/forms.css" type="text/css" rel="stylesheet">
</head>
<body>
{% include 'header.html' %}
    {%  block body %}{% endblock %}
</body>
</html>
{% include 'footer.html' %}