<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testimonials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
 {% include "header.html" %}


<div class="w3-container" style="padding-top: 5%">
  <p>Hear from satisfied gym rats just like you!</p>

  <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <p><i>"Power Trainer makes it as simple as possible."</i></p>
  </div>
    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <p><i>"I would have never got so jacked, if it weren't for Power Trainer. 10/10"</i></p>
  </div>
    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-green">
    <p><i>"I didn't know I could harness this kind of power in the gym, all in one app!"</i></p>
  </div>
    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <p><i>"Even my mom uses PowerTrainer. :)"</i></p>
  </div>
   <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <p><i>"Get the app! Plain and Simple. It makes gym time so much more productive."</i></p>
  </div>
</div>


 {% include "footer.html" %}
</body>
</html>